.container{
    max-width: 600px;
    margin-top: 100px;
    background-color: #7ae7cf;
    border-radius: 10px;    /* độ cong của các góc */
    padding: 10px 20px      /* khoảng cách từ nội dung đến border */
}